body {
    background-image: url('C:\Users\adeba\OneDrive\Images\darktheme.jpg');
    width: 600px;
    margin: 0 auto;
    padding: 0;
    font-family: courier, monospace;
  }
  
  form {
    color: #3496d8;
    font-size: 22px;
  }
  
  input[type="text"]{
    background-color : hwb(0 100% 0% / 0);
  }
  
  #addNeed {
    background-color : #f3f3f300;
    color: #3498db;
  }
  
  #addHave {
    background-color : #f8f8f800;
    color: #3498db;
  }
  
  h1 {
    color: #4183D7;
    font-size: 50px;
  }
  
  h2 {
    color: #4183D7;
    font-size: 42px;
    letter-spacing: -2px;
    text-align: left;
  }
  .list {
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: 500px;
    border: 1px solid hsla(0, 0%, 87%, 0);
  }
  .list li {
    list-style: none;
    background-color : #f8f8f800;
    border-bottom: 1px dotted #cccccc00;
    text-indent: 25px;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    color: #5204e4; /*List Color of the words in the list */
    
  }
  li a {
    float: right;
    text-decoration: none;
    color: rgba(6, 41, 215, 0.77); /*Color of the x marks for the words */
  }
  
  @media (-webkit-min-device-pixel-ratio: 2), 
         (min--moz-device-pixel-ratio: 2),    
         (min-resolution: 2dppx),             
         (min-resolution: 192dpi)             
  {
      body {
          background-image: url('C:\Users\adeba\OneDrive\Images\darktheme.jpg'); 
          background-color: rgba(0, 0, 0, 0.713);
      }
  }